body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

.pill-award {
  background-color: #ffc107;
  color: #000;
}

.pill-chicago {
  background-color: #dc3545;
  color: #fff;
}

.pill-committee {
  background-color: #6f42c1;
  color: #fff;
}

.pill-council {
  background-color: #007bff;
  color: #fff;
}

.pill-footloose {
  background-color: #e83e8c;
  color: #fff;
}

.pill-hairspray {
  background-color: #17a2b8;
  color: #fff;
}

.pill-hsm {
  background-color: #6c757d;
  color: #fff;
}

.pill-head {
  background-color: #20c997;
  color: #fff;
}

.pill-misc {
 /* background-color: #f8f9fa;
  color: #000;*/
  background-color: #6c757d;
  color: #fff;
}

.pill-radio {
  background-color: #fd7e14;
  color: #fff;
}

.pill-senior {
  background-color: #28a745;
  color: #fff;
}

.pill-ttg {
  background-color: #343a40;
  color: #fff;
}

.pill-uni {
  background-color: #b58840;
  color: #fff;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
